.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order_number {
  color: #f2f2f3;
  font-size: 120px;
  text-shadow: 0 0 2px blue;
}

.order_label {
  padding: 20px 0 60px;
  color: white;
  font-size: 25px;
}

.order_status_icon {
  margin-bottom: 60px;
  padding: 30px;
  background-color: #292942;
  border-radius: 50%;
}

.order_status_text {
  color: #f2f2f3;
  font-size: 20px;
}

.order_wait_text {
  padding: 20px 0;
  color: rgb(164 164 205);
  font-size: 20px;
}
