.burger_constructor {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 20px;
  color: var(--text-primary-color);
}

.before_order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 24px;
}

.burger_constructor_scroll {
  max-height: 500px;
  padding-right: 8px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #6b4dff rgb(255 255 255 / 8%);
}

.burger_constructor_list {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.drag_hidden {
  visibility: hidden;
}

.burger_constructor_order {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.total_price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 30px;
}

/* .burger_constructor_button {
  justify-self: end;
  width: fit-content;
  margin-top: 20px;
  box-shadow:
    0 0 30px 0.5px rgb(104 7 207),
    inset 0 0 12px 2px rgb(104 7 207);
} */

.currency_icon_large {
  transform: scale(1.5);
}
