.profile_right_order {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 844px;
}

.card_order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  padding: 24px;
  background-color: rgb(28 28 33);
  border-radius: 40px;
}

.card_order_header {
  display: flex;
  justify-content: space-between;
}

.order_number {
  font-size: 28px;
}

.order_date {
  color: rgb(133 133 173);
}

.card_order_name {
  font-size: 24px;
}

/* .card_name_status {
} */

.card_order_footer,
.card_order_price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* .card_order_img {
} */

.card_order_price {
  gap: 10px;
  font-size: 28px;
}
