h3 {
  margin-top: 24px;
  font-weight: 300;
  font-size: 30px;
}

.burger_ingredients_type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.burger_ingredients_card {
  position: relative;
  align-items: center;
  text-align: center;
}

.burger_ingredients_img {
  width: 100%;
}

.burger_ingredients_cardprice {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 25px;
}

.burger_ingredients_name {
  font-size: 18px;
}
