.backdrop {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: rgb(0 0 0);
  backdrop-filter: blur(2px);
  opacity: 0.6;
}

.window {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1001;
  max-width: 50%;
  padding: 40px;
  overflow-y: auto;
  background: #262424fa;
  border-radius: 20px;
  transform: translate(-50%, -50%);
}

.modal_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 36px;
}

.modal_header_r {
  justify-content: flex-end;
}

.modal_header_c {
  justify-content: space-between;
}

.title {
  margin-right: 130px;
}

.close_icon {
  cursor: pointer;
}
