.backdrop {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: rgb(0 0 0);
  backdrop-filter: blur(2px);
  opacity: 0.6;
}

.window {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1001;
  max-height: 90vh;
  padding: 24px;
  overflow-y: auto;
  background: #262424fa;
  border-radius: 20px;
  transform: translate(-50%, -50%);
}
