.modal {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal_img {
  width: 80%;
  margin-bottom: 16px;
}

.modal_name {
  font-size: 30px;
  text-align: center;
}

.modal_info {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  gap: 20px;
  padding-top: 32px;
  color: rgb(164 164 205);
  font-size: 19px;
  line-height: 30px;
  text-align: center;
}
