* {
  margin: 0;
  padding: 0;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
  .custom-scroll {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }

  body {
    font-family: 'Jet Brains Mono', serif;
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }
}
