:root {
  --color-bg-card: rgb(28 28 33);
  --color-text-date: rgb(133 133 173);
  --color-border-img: violet;
  --color-shadow-img: rgb(201 196 201);
  --font-iceland: 'Iceland', cursive;
  --font-mono: 'JetBrains Mono', monospace;
  --radius-card: 40px;
  --size-img: 56px;
}

* {
  margin: 0;
  padding: 0;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
  .custom-scroll {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }

  body {
    font-family: 'Jet Brains Mono', serif;
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }
}
