.close {
  display: flex;
  justify-content: flex-end;
}

.modal_order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  font-family: 'Jet Brains Mono', sans-serif;
  text-align: center;
}

.order_number {
  margin: 10px 0;
  color: #f2f2f3;
  font-weight: bold;
  font-size: 48px;
  text-shadow: 0 0 2px blue;
}

.modal_order .order_label {
  margin-bottom: 30px;
  color: #8585ad;
  font-size: 20px;
}

.modal_order .order_status_icon {
  margin: 15px 0;
  padding: 20px;
  background-color: #292942;
  border-radius: 50%;
}

.modal_order .order_status_text {
  margin-bottom: 10px;
  color: #f2f2f3;
  font-size: 20px;
}

.modal_order .order_wait_text {
  color: #8585ad;
  font-size: 16px;
}
